

<div class="wrapper row0">
    <div id="topbar" class="hoc clear">

    </div>
</div>

<div class="wrapper row2">
    <nav id="mainav" class="hoc clear">
        <ul class="clear">
            <li class="active"><a href="index.html">Home</a></li>
            <li>
                <a class="drop" href="#">Pages</a>
                <ul>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Full Width</a></li>
                    <li><a href="#">Sidebar Left</a></li>
                    <li><a href="#">Sidebar Right</a></li>
                    <li><a href="#">Basic Grid</a></li>
                    <li><a href="#">Font Icons</a></li>
                </ul>
            </li>
            <li>
                <a class="drop" href="#">Dropdown</a>
                <ul>
                    <li><a href="#">Level 2</a></li>
                    <li>
                        <a class="drop" href="#">Level 2 + Drop</a>
                        <ul>
                            <li><a href="#">Level 3</a></li>
                            <li><a href="#">Level 3</a></li>
                            <li><a href="#">Level 3</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Level 2</a></li>
                </ul>
            </li>
            <li><a href="#">Link Text</a></li>
            <li><a href="#">Link Text</a></li>
            <li><a href="#">Link Text</a></li>
            <li><a href="#">Long Link Text</a></li>
        </ul>
        <form action="#"><select><option selected="selected" value="">MENU</option><option value="index.html">Home</option><option value="#">Pages</option><option value="pages/gallery.html">- - Gallery</option><option value="pages/full-width.html">- - Full Width</option><option value="pages/sidebar-left.html">- - Sidebar Left</option><option value="pages/sidebar-right.html">- - Sidebar Right</option><option value="pages/basic-grid.html">- - Basic Grid</option><option value="pages/font-icons.html">- - Font Icons</option><option value="#">Dropdown</option><option value="#">- - Level 2</option><option value="#">- - Level 2 + Drop</option><option value="#">- - - Level 3</option><option value="#">- - - Level 3</option><option value="#">- - - Level 3</option><option value="#">- - Level 2</option><option value="#">Link Text</option><option value="#">Link Text</option><option value="#">Link Text</option><option value="#">Long Link Text</option></select></form>
    </nav>
</div>